* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("background.png");
  position: absolute;
  top: 6rem;
  left: 35%;
}
h1 {
  color: aliceblue;
  text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.App {
backdrop-filter: blur(10px);
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.171);
  width:50%;
  padding: 5rem;
  box-shadow: 10px 10px 30px;
}

.App p {
  font-family:fantasy;
  color: aliceblue;
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
}

.btns {


  margin-top: 2rem;

  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.inc {
  background-color: #001235;
  color: rgb(6, 248, 38);
  padding: 15px;
  margin: 5px;
  border: none;
  box-shadow: 10px 10px 10px;
  border-radius: 5px;
  font-size: larger;
}
.dnc {
  font-size: larger;
  border-radius: 5px;
  padding: 15px;
  color: rgb(248, 6, 6);
  background-color: #001338;
  margin: 5px;
  border: none;
  box-shadow: 10px 10px 10px;
}
