

body{
position: absolute;
top: 3rem;
left: 30%;

}
.calc {

  width: 320px;
  margin: auto;
}
#answer {
  background-color: #ffffff;
  padding: 10px;
  font-size: 35px;
  width: 295px;

  text-align: right;
  border: 3px solid rgb(55, 10, 255);
}

.button {
  background: #333;
  height: 80px;
  width: 80px;
  color: white;
  font: size 30px;
  border: 1px solid rgb(253, 8, 8);
}
.button1 {
  width: 160px;
}
